.detail-cards {
  &__img {
    width: 100%;
    height: 300px;
  }
  &__tabs {
    background-color: $main-colour;
    color: $main-text;
  }
}

.search-card {
  &:hover {
    text-decoration: none;
    color: $main-text;
  }
  &__card:hover {
    background-color: $main-colour;
  }
  &__image {
    width: 100%;
    height: 400px;
  }
  &__text {
    margin-top: 3px;
  }
  &__button {
    width: 300px;
  }
}
