body {
  height: 110vh;
}
.contact__button {
  padding: 12px 18px;
}

.contact__under__title {
  margin-top: 3rem;
}

.contact__main__title {
  margin-top: 3rem;

  &::after {
    content: "";
    margin: 20px auto;
    display: block;
    width: 120px;
    height: 3px;
    background: #0a0a0a;
  }
}

.contact__info,
.contact__form {
  margin-top: 3rem;
}

.contact__icon {
  font-size: 18px;
  line-height: 1.2;
  padding-right: 25px;
}

@media screen and (max-width: 769px) {
  .contact__main__title,
  .contact__form {
    margin-top: 1rem;
  }
}
