.home {
  background: url(../../Components/images/bergen_day.jpg) no-repeat center
    bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
  height: 1000px;
  &__title {
    color: $main-text;
    font-size: 4.209rem;
    text-align: center;
  }
  &__content {
    padding-top: 5%;
    padding-bottom: 10%;
    backdrop-filter: blur(2px) brightness(65%);
  }
  &__banner {
    color: $main-text;
    text-align: center;
  }
  &__link {
    &__container {
      margin-top: 100px;
    }
    &__button {
      padding: 20px;
      font-size: 1.777rem;
    }
  }
}
