.typeahead {
  margin-top: 100px;

  &__image {
    height: 100px;
    width: 100px;
  }
  &__name {
    font-size: 1.333rem;
    line-height: 1.5;
    text-align: left;
  }
  .typeahead__link {
    &__container {
      padding: 9px;
      border-left: 2px solid;
      border-right: 2px solid;
      border-bottom: 2px solid;

      background-color: $main-text;

      &:hover {
        background-color: $hover;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .typeahead__image {
    display: block;
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }

  .typeahead__name__container {
    .typeahead__name {
      text-align: center;
      margin-top: 10px;
    }
  }
}
