.admin__Navbar {
  &__link {
    border-right: 1px solid $main-colour;
    border-bottom: 1px solid $main-colour;
    border-left: 1px solid $main-colour;
    &:first-child {
      border-top: 1px solid $main-colour;
    }
  }
  &__dropdown {
    border-right: 1px solid $main-colour;
    border-bottom: 1px solid $main-colour;
    border-left: 1px solid $main-colour;
  }
  &__link:hover {
    background-color: $main-colour;
    color: $main-text;
  }
}

.enquiry {
  &__button {
    color: $main-text;
    &__link {
      color: $main-text;
      &:hover {
        color: $main-text;
      }
    }
  }
}

.dropdown-menu {
  padding: 0;
}
