@import url("https://use.typekit.net/uuz7xpt.css");

$main-colour: #365953;
$main-text: #ccd9d7;
$secondary-text: #7a8b88;

$body-font: houschka-pro, sans-serif;
$heading-font: quasimoda, sans-serif;


@import "~bootstrap/scss/bootstrap";
