.navbar-dark .navbar-brand {
  color: $main-text;
  font-size: 3.157rem;
  font-family: $main-heading-font;

  &:hover {
    color: $main-text;
  }
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 1.333rem;
  color: $main-text;
  font-family: $main-heading-font;

  &:hover {
    color: $secondary-text;
  }
}
